@{
    ViewBag.MetaDescription = "Our technical team is ready to help you with your blockchain and cloud development needs.";
    ViewBag.Title = "bCloudPartners - Meet our Block Chain Consulting technology team.";
}
 

 <div class="container" >
   
    <div class="row">
        <div class="box">
            <h1 class="intro-text text-center">
                <strong>Meet Our Team of Blockchain and Cloud Technology Experts</strong>
            </h1>

            <h2 class="intro-text text-center">
                bCloudPartners is a group of technology specialists with a passion for developing blockchain applications(using smart contracts or chaincode) and leveraging the functionality provided by the cloud.
                Using Solidity and Hyperledger on Microsoft Azure, Amazon AWS or the Google Cloud Platform, we provide not only advice to companies considering using blockchain or the cloud,
                but also provide DevOps and programming services for re-platforming. Mobile, desktop, micro services, container orchestration, CI/CD are all within our area of specialty.
                <br />
                <br />
            </h2>

            <div class="container">
                <div class="row">
                    <div class="col">
                        <img class="img-responsive" src="~/Content/img/g.png" alt="Imgage for CTO of bCloudPartners - Cloud expert" />
                    </div>
                    <div class="col">
                        <h4 class="intro-text text-center">
                            <strong>Glenn  - CTO and  Founder</strong>
                            <br />
                             Experienced software architect (Java/.Net) and delivery manager with over 25 years successfully leading both internal and offshore teams for global companies. Extensive ISO 9001, Agile
                            Scrum and 6 Sigma experience. Amazon , Microsoft and Google Cloud expert as well as a certified Ethereum and Hyperledger developer.
                        </h4>
                    </div>
                </div>
                <br />
                <br />

                <div class="row">
                    <div class="col">
                        <img class="img-responsive" src="~/Content/img/code.png" alt="Imgage for our cloud consulting partner">
                    </div>
                    <div class="col">
                        <h4 class="intro-text text-center">
                           <strong>Robert - Senior Software Architect</strong>
                            <br />
                            Experienced cloud software architect in AWS and Azure.
                        </h4>
                    </div>
                </div>
                <br />
                <br />

                <div class="row">
                    <div class="col">
                        <img class="img-responsive" src="~/Content/img/r.jpg" alt="Imgage for in house business analyst.">
                    </div>
                    <div class="col">
                        <h4 class="intro-text text-center">
                            <strong>Daniel - Business Analyst</strong>
                                <br />
                                <br />
                                A seasoned veteran who has helped numerous customers redefine their current business processes in preparation for a cloud migration or business to business integration.

                        </h4>
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>

            </div>
    </div>

    <script>
        (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-103842110-1', 'auto');
        ga('send', 'pageview');

    </script>
</div>


<!-- /.container -->
