@{
    ViewBag.Title = "bCloudPartners - Meet our technology team.";
    ViewBag.MetaDescription = "Our technical team is ready to help you with your cloud needs.";
    ViewBag.MetaKeywords = "development, Continuous deployment, Continuous deployment, CD, CI, devops,  mobile, webservices, REST API, WebAPI, Google Cloud Platform, Microsoft Azure, Amazon AWS, Java, .Net, microservices, Docker, Kubernetes";
    ViewBag.CanonicalURL = "http://www.bCloudPartners.com";
}
}
<h2>@ViewBag.Title.</h2>


<div class="container">
   
    <div class="row">
        <div class="box">
            <h2 class="intro-text text-center">
                <strong>Meet Our Team</strong>
            </h2>
            <p>
                bCloudPartners is an independent and unbiased cloud technology partner and advisor. We receive no revenue or incentives by recommending a cloud technology platform, we do not sell hosting services, and we sell no
                shrink wrapped product. We are simply a team of very seasoned technology professionals who have extensive cloud experience, and know what works and what does not work.
            </p>
           
            <div class="col-sm-4 text-center">
                <img class="img-responsive" src="~/Content/img/Glenn.JPG"  alt="Imgage for CTO of bCloudPartners - Cloud expert">
                <h3>
                    Glenn  - CTO and  Founder 
                    <small>Experienced software architect (Java/.Net) and delivery manager with over 25 year of experience driving internal, and offshore teams to success for global companies. Extensive ISO 9001, Agile 
                    Scrum and 6 Sigma experience. Amazon , Microsoft and Google Cloud expert.</small>
                </h3>
            </div>
            <div class="col-sm-4 text-center">
                <img class="img-responsive" src="http://placehold.it/534x699" alt="Imgage for consultant of bCloudPartners">
                <h3>
                    Robert Peterson - Consultant 
                </h3>
            </div>
            <div class="col-sm-4 text-center">
                <img class="img-responsive" src="http://placehold.it/534x699" alt="Imgage for consultant of bCloudPartners">
                <h3>
                    Richard Highsmith - Consultant 
                </h3>
            </div>
           
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- /.container -->
