@{
    ViewBag.MetaDescription = "Most cloud vendors now support the deployment of the blockchain in the cloud. More commonly know as BaaS (blockchain as a " +
                "service),users can now fully realize the benefits of both technologies.";
    ViewBag.Title = "bCloudPartners - Helping you understand how to leverage your blockchain in the cloud.";
}


<div class="container">
    <div class="row">
        <div class="box">
            <div class="row">
                <div class="box">
                    <div class="col-lg-12">
                        <h2 class="intro-text text-center">
                            <strong>What exactly is BaaS (Blockchain As A Service)?</strong>
                        </h2>
                        <h2 class="intro-text text-center">
                            Blockchain as a Service (BaaS) allows customers to leverage provider functionality to build, host
                            and execute blockchain applications and smart contracts within a cloud formation.The cloud based service provider
                            manages all the necessary tasks and activities to keep the infrastructure operational and scalable, allowing the customer to focus
                            on their development efforts. This concept works similar to the currently widely accepted concept of Software As A Service (SaaS) model.
                            In many cases BaaS this is an ideal scenario as it allows the customer to "experiment" with the blockchain with a minimum amount of effort.
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <h2 class="intro-text text-center">
                    <strong>Who are some Baas providers ?</strong>
                </h2>
                <br/>
                <h2 class="intro-text text-center">
                    <strong>Microsoft</strong> became one of the first software vendors to offer BaaS when it launched Azure Blockchain Service in 2015. In 2017 it
                    launched Enterprise Smart Contracts, which provides users with the schema, logic, external sources, ledger, and contract
                    binding for building their own blockchain services.In November 2015, Microsoft and ConsenSys announced a partnership to create Ethereum
                    blockchain as a service (EBaaS) on Microsoft Azure. The service is designed to help customers build private-, public- and consortium-based
                    blockchain environments on Azure’s global platform.
                    <br />
                    <br/>
                    <strong>SAP</strong>'s blockchain as a service, known as "Leonardo," is based on Hyperledger, and resides in the SAP Cloud service, 
                    so it can be accessed from any device and requires no on-premises hardware or software. SAP Leonardo functions as a blockchain cloud service,
                    machine learning service and supports the Internet of Things (IoT) in a single ecosystem.
                    <br />
                    <br />
                    <strong>Amazon</strong> also offers Blockchain services in its cloud arm, Amazon Web Services ( AWS ). AWS allows you to build a blockchain
                    infrastructure in minutes. Companies can build their own network based on either Ethereum or Hyperledger Fabric.
                    <br />
                    <br />
                    <strong>Oracle</strong> offers in its cloud solution "Oracle cloud" the possibility to use B2B actions in the form of Blockchain as a
                    service. Oracle also provides the complete infrastructure in the cloud.
                    <br />
                    <br />
                    <strong>IBM</strong> blockchain Platform leverages capabilities built on the Hyperledger fabric framework and uses the Hyperledger Composer
                    Blockchain tool. Both are provided by the Linux Foundation as open source software. APIs are available to integrate blockchain technology into 
                    the company's own applications. IBM promises that its own blockchain technology can be quickly and easily integrated, even by developers who 
                    are not yet specialized in this area.
            </h2>

</div>
        </div>
    </div>

    
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <h2 class="intro-text text-center">
                    <strong>Some advantages of BaaS</strong>
                </h2>
                <ul class="list-group">
                    <li class="list-group-item">
                        The BaaS model allows all types of businesses to access blockchain based technology
                        without having to invest in developing it in-house first.
                    </li>
                    <li class="list-group-item">
                        Offers companies massive scalability both upward and outward.
                    </li>
                    <li class="list-group-item">
                        Cloud technology is a mature technology with an abundance of documentation, on line training and resources.
                    </li>
                    <li class="list-group-item">
                        Utilize blockchain technology on a subscription-based model - "Pay only for what was used".
                    </li>
                    <li class="list-group-item">
                        Anywhere access.
                    </li>
                    <li class="list-group-item">Reduced power, maintenance and infrastructure costs.</li>

                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <h2 class="intro-text text-center">
                    <strong>Are there disadvantages to BaaS?</strong>
                </h2>
                <ul class="list-group">
                    <li class="list-group-item">
                        The BaaS model requires a certain amount of centralization as transactions will now be channeled through the blockchain services provider.
                        Unfortunately this approach now breaks one of the core tenants of blockchain - decentralization.
                        Since decentralization is one of the key features that makes blockchain so useful, companies should reconsider if in fact BaaS is
                        the right solution to their problem.
                    </li>
                    <li class="list-group-item">
                        When considering BaaS, it should be remembered that an additional set of cloud skills will be required to understand
                        how to setup, deploy and maintain the blockchain instance in a given cloud formation.
                    </li>
                    <li class="list-group-item">
                        All cloud providers determine cost to be billed to the customer based on a combination of computing power that has been configured,
                        power on time, and number of instances that are running. Customers will need to closely monitor these 3 factors in order to
                        minimum operating costs.
                    </li>
                  </ul>
                
             </div>
        </div>
    </div>

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-103842110-1', 'auto');
    ga('send', 'pageview');

</script>
</div>


<!-- /.container -->
