@{
    ViewBag.MetaDescription = "Lets examine the primary blockchain models and understand how they are different";
    ViewBag.Title = "bCloudPartners - BitCoin versus Ethereum versus Hyperledger";
}
 

<div class="container">
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <h1 class="intro-text text-center">
                    <strong>How are Bitcoin , Ethereum and Hyperledger different ? Which one makes sense for me ?</strong>
                </h1>
                <br />
                <h2 class="intro-text text-center">
                    <i>
                        Note: This section will be providing information to the reader so that they have a better understanding on how these platforms differ fundamentally in functionality. We will defer any deep
                        technical details to other sections of this website and we encourage the reader to read these sections at their leisure. We are also assuming that the reader is most interested in applying
                        blockchain to solve more "business" type problems and is not primarily interested in creating a new type of cryptocurrency or altcoins.
                    </i>

                </h2>

            </div>
        </div>
    </div>

    <div class="box">
        <div class="col-lg-12">
            <h1 class="intro-text text-center">
                <strong>Want a quick introduction to Bitcoin ?</strong>
            </h1>
            <br />
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/bBC-nXj3Ng4" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="box">
            <div class="col-lg-12">

                <br />
                <br />
                <h2 class="intro-text text-center">
                    <strong>Bitcoin</strong> features:
                </h2>
                <ul class="list-group">
                    <li class="list-group-item">It is a immutable, shared, trusted, public ledger.</li>
                    <li class="list-group-item">
                        Bitcoin is an UTXO (Unspent Transaction Output) blockchain implementation who's primary purpose is to
                        track coins "going in and out" and to track a balance. This blockchain functions with bitcoins only
                        and is not usable with any other cryptocurrency, altcoins, or tokens.
                    </li>
                    <li class="list-group-item">
                        To participate in the Bitcoin blockchain, users must first purchase some bitcoin.
                    </li>
                    <li class="list-group-item">
                        Bitcoin does not provide any native support for adding any custom programming to model business processes. A few 3rd party packages
                        are now becoming available to support the concept of a smart contact.
                    </li>
                    <li class="list-group-item">
                        The number of commercial merchants who accept Bitcoin as of June 05, 2018 was only 13. Some of these
                        merchants include Microsoft, Expedia (for hotel rooms only ), Overstock and eGifter and a few others.
                    </li>
                    <li class="list-group-item">
                        The mining time to add a new block to the chain is approximately 10 minutes ( approx. 7 transactions per second ),
                        which makes the bitcoin blockchain to slow in most cases for any high volume transaction processing. Visa for example currently
                        handles 24,000 transactions per second with a maximum theoretical limit of 56,000 transactions per second.
                    </li>
                    <li class="list-group-item">
                        Bitcoin is number one in terms of coin market capitalization.
                    </li>
                </ul>

                <br />
                <br />

            </div>
        </div>
    </div>


    <div class="box">
        <div class="col-lg-12">
            <h1 class="intro-text text-center">
                <strong>Want a quick introduction to Ethereum by Ethereum's creator?</strong>
            </h1>
            <br />

            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/TDGq4aeevgY" frameborder="0" allowfullscreen></iframe>
            </div>

        </div>

    </div>

    <div class="row">
        <div class="box">
            <div class="col-lg-12">

                <h2 class="intro-text text-center">
                    <strong>Ethereum</strong> features:
                </h2>
                <ul class="list-group">
                    <li class="list-group-item">It is a immutable, shared, trusted, public ledger</li>
                    <li class="list-group-item">
                        Like bitcoin, ethereum's primary purpose is to track assets "going in and out" and to track a balance.
                    </li>
                    <li class="list-group-item">
                        To actively participate in an ethereum based blockchain requires the purchase of some ethereum.
                    </li>
                    <li class="list-group-item">
                        Ethereum allows for the development and deployment of custom code(called smart contracts) into the blockchain. This custom code is triggered
                        when transactions occur. The execution of the smart contract requires ethereum "gas" and the amount of gas that needs to be provided depends
                        on the complexity of smart contract being executes.
                    </li>
                    <li class="list-group-item">
                        The ERC 20 interface specification allows for the creation of custom tokens which will function on the ethereum platform. EOS,
                        Tether, TRON, and Binance Coin are all popular tokens which target the ethereum platform.
                    </li>
                    <li class="list-group-item">
                        The mining time to add a new block to the chain is approximately 15 seconds ( approx 20 transaction per second )
                        which makes ethereum to slow in most cases for any high volume transaction processing. Visa for example currently
                        handles 24,000 transactions per second.
                    </li>
                    <li class="list-group-item">The number of commercial merchants who accept ethereum is still relatively small.</li>
                    <li class="list-group-item">
                        Ethereum is number two in terms of coin market capitalization.
                    </li>
                </ul>


            </div>
        </div>
    </div>

    <div class="box">
        <div class="col-lg-12">
            <h1 class="intro-text text-center">
                <strong>Want a quick introduction to Hyperledger ?</strong>
            </h1>
            <br />
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/EKa5Gh9whgU" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="box">
            <div class="col-lg-12">

                <br />
                <br />
                <h2 class="intro-text text-center">
                    <strong>Hyperledger</strong> features:
                </h2>
                <ul class="list-group">
                    <li class="list-group-item">It is a immutable, shared, trusted, <strong>private</strong> ledger. </li>
                    <li class="list-group-item">
                        Unlike bitcoin and ethereum, hyperledger has a feature rich user access and permissions layer. ACL lists can be created
                        to control create, read, and change operations.These permissions can be individual or group based.
                    </li>
                    <li class="list-group-item">
                        Unlike bitcoin and ethereum, hyperledger is not designed to be a "coin centric" asset tracking system. The business model
                        engine of hyperledger allows for the creation of more "business type" entities such as purchase order or property title.
                    </li>
                    <li class="list-group-item">
                        To actively participate in an hyperledger blockchain users are not required to purchase any type of coins or tokens,
                        and there are no transaction fees.
                    </li>
                    <li class="list-group-item">
                        The hyperledger fabric provides a fully integrated REST API server which allows for the easy integration of any distributed
                        application capable of making REST requests and processing responses. Access to the REST API endpoints can also be controlled using the
                        built in ACL functionality.
                    </li>
                    <li class="list-group-item">
                        The mining time to add a new block to the chain is almost zero. Minimum consensus requirements before a block is added to the chain
                        is configurable.
                    </li>
                    <li class="list-group-item">Hyperledger composer provides for a feature rich programming environment to add business logic processing </li>
                    <li class="list-group-item">
                        Hyperledger is not a cryptocurrency, altcoin or token,  and is not traded on an exchange.
                    </li>
                </ul>


            </div>
        </div>
    </div>
</div>

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-103842110-1', 'auto');
        ga('send', 'pageview');

    </script>
<!-- /.container -->
