@{
    ViewBag.MetaDescription ="An open, secure, transparent, and publicly verifiable system will fundamentally change the way we think about" +
        "exchanging value and assets, enforcing contracts, and sharing data across industries. Here are just of a few real world problems that blockchain could solve. ";
    ViewBag.Title = "bCloudPartners - Common ndustry use cases for blockchain ";
}
 

<div class="container ">
 
        <div class="box align-content-center">
            <div class="col-lg-12">
                <h1 class="intro-text text-center">
                    <strong>What are some valid blockchain use cases?</strong>
                </h1>
                <br />
                <h1 class="intro-text text-center">
                  The functionality provided by blockchain is not restricted only to cryptocurrencies. In fact the fundamental tenants of blockchain make it a great solution
                    to some common everyday problems. Here are just a few we have identified.  
                </h1>
                <br />
                <br />
                <h2 class="intro-text text-center">
                    <strong>Medical - Healthcare</strong>
                </h2>
                <br />
                <ul class="list-group">
                    <li class="list-group-item">Drug Supply Chain Integrity</li>
                    <li class="list-group-item">Patient Databases/Indexes on blockchain</li>
                    <li class="list-group-item">Claims Adjudication</li>
                    <li class="list-group-item">Medical Supply Chain Management</li>
                    <li class="list-group-item">Transparency and Automation within the patient-to-hospital or patient-to-doctor transactions</li>
                    <li class="list-group-item">Clinical trial provenance — integrity with an auditable trail of data exchange</li>
                    <li class="list-group-item">Efficiency, privacy, and ownership of patient health data</li>
                </ul>
                <br />
                <br />
                <h2 class="intro-text text-center">
                    <strong>Real Estate</strong>
                </h2>
                <br />
                <ul class="list-group">
                    <li class="list-group-item">Transparency within agreements</li>
                    <li class="list-group-item">Verify property information, update and decentralize records</li>
                    <li class="list-group-item">Reduce paperwork, digitize transactional processes</li>
                    <li class="list-group-item">Record, track, transfer land titles</li>
                </ul>
                <br />
                <br />
                <h2 class="intro-text text-center">
                    <strong>Automotive</strong>
                </h2>
                <br />
                <ul class="list-group">
                    <li class="list-group-item">Track truthful, full history of vehicle from pre-production to sale.</li>
                    <li class="list-group-item">Supply chain parts management.</li>
                </ul>
                <br />
                <br />
                <h2 class="intro-text text-center">
                    <strong>Gun Safety</strong>
                </h2>
                <br />
                <ul class="list-group">
                    <li class="list-group-item">Tracking gun ownership and possession related information</li>
                    <li class="list-group-item">Tracking criminal ID history and attempts to purchase</li>
                </ul>
                <br />
                <br />
                <h2 class="intro-text text-center">
                    <strong>Charity</strong>
                </h2>
                <br />
                <ul class="list-group">
                    <li class="list-group-item">Tracking donation allocation, accountability, integrity.</li>
                    <li class="list-group-item">Reduce overhead and complexity of donation payment processing</li>
                </ul>
                <br />
                <br />
                <h2 class="intro-text text-center">
                    <strong>Travel</strong>
                </h2>
                <br />
                <ul class="list-group">
                    <li class="list-group-item">Passenger Identification, boarding, passport, payment, and other documentation digitized and verified</li>
                    <li class="list-group-item">Loyalty programs digitization and tracking</li>
                </ul>
                <br />
                <br />
                <h2 class="intro-text text-center">
                    <strong>Commercial Vehicles and Transportation</strong>
                </h2>
                <br />
                <ul class="list-group">
                    <li class="list-group-item">Tracking journey stops; paired with IoT to create an immutable ledger of trip data</li>
                </ul>
                <br />
                <br />
                <h2 class="intro-text text-center">
                    <strong>Donations</strong>
                </h2>
                <br />
                <ul class="list-group">
                    <li class="list-group-item">Provide auditable trail for donations to prevent fraud</li>
                    <li class="list-group-item">Ensure crowdfunded campaigns receive donations and contributors are compensated</li>
                </ul>
                <br />
                <br />
                <h2 class="intro-text text-center">
                    <strong>Education</strong>
                </h2>
                <br />
                <ul class="list-group">
                    <li class="list-group-item">Digitizing, verifying academic credentials</li>
                    <li class="list-group-item">Federated repository of academic information specific to class, professor, and student</li>
                </ul>
                <br />
                <br />
                <h2 class="intro-text text-center">
                    <strong>Government and Voting</strong>
                </h2>
                <br />
                <ul class="list-group">
                    <li class="list-group-item">Reduce voter fraud, inefficiencies with verifiable audit trails</li>
                    <li class="list-group-item">Minimize government fraud, digitize most processes</li>
                    <li class="list-group-item">Increase accountability and compliance for government officials</li>
                    <li class="list-group-item">Minimize government fraud, digitize most processes</li>
                    <li class="list-group-item">Identity validation; integrity of citizen registry data</li>
                </ul>
                <br />
                <br />


                <div class="clearfix"></div>
            </div>
    </div>

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-103842110-1', 'auto');
        ga('send', 'pageview');

    </script>
</div>


<!-- /.container -->
