@{
    ViewBag.MetaDescription = "The blockchain cocept has actually been around since 1991, well before the mention of Bitcoin. Here is a little history to better understand how we got to where we are today.";
    ViewBag.Title = "bCloudPartners - So you want to know the history of blockchain?";
}
 

<div class="container">
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <h1 class="intro-text text-center">
                    <strong>What is the history of blockchain?</strong>
                </h1>
                <h2 class="intro-text text-center">
                    Blockchain has caught the world’s interest in recent years. Some believe that blockchain is a game changing technology, while others are certain that blockchain has no
                    real world applications, and are positive that blockchain will fail inevitably along with cryptocurrencies. Time will tell. Meanwhile, let’s understand where this technology came from.
                </h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                
                <h1 class="intro-text text-center">
                    <strong>1991</strong>
                </h1>
                <h2 class="intro-text text-center">
                    A rudimentary blockchain concept was first introduced in 1991 in a research paper titled “How to Time-Stamp a Digital Document”
                    Haber and Stornetta. This paper discussed how a client could send a document to a timestamp server to be digitally timestamped. The
                    server would then link the document to the previous document. A reference pointer was then used to point to the specific data and not the location of the document itself.
                    Using this approach, if the data changed, the pointer would become invalid. This ensured no one could tamper with the data once it had passed through the server.
                </h2>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                
                <h1 class="intro-text text-center">
                    <strong>2008 - Bitcoin is "Born"</strong>
                </h1>
                <h2 class="intro-text text-center">
                    On October 31, 2008 Satoshi Nakamoto published his now famous white-paper titled “Bitcoin: A Peer to Peer Electronic Cash System”. This paper provided a solution to the digital
                    currency problem of double spending when using a peer-to-peer network. The primary goal of this paper was to describe a network of digital currency that would enable people to echange funds
                    without the need for a financial institution or 3rd party.
                </h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                
                <h1 class="intro-text text-center">
                    <strong>2009 - Bitcoin goes "Live"</strong>
                </h1>
                <h2 class="intro-text text-center">
                    Bitcoin goes "live" on 3 January 2009 when Satoshi Nakamoto mines the genesis block of bitcoin (block number 0), which had a reward of 50 bitcoins.
                </h2>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                
                <h1 class="intro-text text-center">
                    <strong> 2013 - The first "AltCoin" and "Tokens" appear</strong>
                </h1>
                <h2 class="intro-text text-center">
                    Mastercoin represents the first sale of so-called tokens in July of 2013, and the first recorded ICO was that of Karmacoin in April 2014 for its Karmashares project. As of the 
                    end of July 2017, ICO Alert reports that there are more than 60 ICO offers.
                </h2>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                
                <h1 class="intro-text text-center">
                    <strong> 2013 - Ethereum is "Born"</strong>
                </h1>
                <h2 class="intro-text text-center">
                    A cryptocurrency researcher and programmer - Vitalik Buterin, proposes  Ethereum in late 2013. Development was funded by an online crowdsale that took place between
                    July and August 2014. The system went live on 30 July 2015.
                </h2>
            </div>
        </div>
    </div>


    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-103842110-1', 'auto');
        ga('send', 'pageview');

    </script>
</div>


<!-- /.container -->
