@{
    ViewBag.MetaDescription = "Helping you better understand what the blockchain is, isn't, and if it even makes sense for your " +
                "organization.";
    ViewBag.Title = "bCloudPartners - A beginners guide to blockchain.";
}
 

<div class="container">
    <div class="row">
        <div class="box">
            <div class="col-lg-12">

                <h1 class="intro-text text-center">
                    <strong>Does Cryptocurrencies = Blockchain ? </strong>
                </h1>

                <h2 class="intro-text text-center">
                    When hearing the term "blockchain" we have been preprogrammed to think only in terms of one of the many cryptocurrencies available ( Bitcoin, Ethereum, Litecoin, Ripple etc) . The press, digital marketing,
                    and the cryptocoin community has done an excellent job of "brainwashing" us into believing that cryptocurrencies = blockchain and the only practical application of the blockchain is to support
                    the creation, tracking and exchanging of digital currency. <strong>Nothing could be farther from the truth.</strong>
                    <br />
                    <br />
                    In reality, because of the functionality and design of the blockchain it
                    just happens to be the perfect delivery platform for digital currency. However, the blockchain platform is also fully capable of supporting not only business-to-consumer ( B2C ) applications, but also consumer-to-consumer
                    (C2C) applications and business-to-business (B2B).

                </h2>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <h1 class="intro-text text-center">
                    <strong>In general what is a blockchain ? </strong>
                </h1>
                <h2 class="intro-text text-center">
                    "A blockchain is an immutable, shared, trusted, public ledger of transactions with no single point of control. The ledger is effectively a list of blocks (blocks can store 1 to N number of transactions.)
                    which are added to the existing chain over time once they are validated."
                    <br />
                    <br />
                    Still Not clear ? Lets look at these key points one at time.
                    <br />
                    <br />
                    <strong>Immutable </strong>
                    <br />
                    The following diagram shows the basic design of a blockchain:
                    <br />
                    <img class="img-responsive" src="~/Content/img/blockchain block diagram.png" alt="General architecture of a blockchain." />
                    <br />
                    <br />
                    A couple of interesting points:
                </h2>
                <ul class="list-group">
                    <li class="list-group-item">The first block in the chain is referred to as the genesis block.</li>
                    <li class="list-group-item">Each block can contain 1 or more transactions.</li>
                    <li class="list-group-item">The data contained within a bloc is used to generate a hash value. This hashed value changes as the data is changed, no matter how small the change.</li>
                    <li class="list-group-item">Each block in the chain has a record of the hash of the previous block. It therefore knows if the previous block has been tampered with.</li>
                    <li class="list-group-item">Once blocks have been validated and added to the chain, they can not be removed.</li>
                    <li class="list-group-item">The process of adding new blocks to the chain is referred to as mining.</li>
                    <li class="list-group-item">
                        The length of time needed to mine a new block (ie add a new block to the chain) varies by implementation. For example the Bitcoin block chains require 10 minutes under ideal
                        conditions to add new block, and Ethereum requires 15 seconds under ideal conditions to add a new block.
                    </li>
                </ul>
                <h2 class="intro-text text-center">
                    <br />
                    The hashing of data within a block, recording the hash value of the previous block and not allowing blocks to be removed insures the integrity of the transactions and chain provenance.
                    <br />
                    <br />
                    <strong>Shared, Trusted  and Public</strong>
                    <br />
                    The following diagram shows the architecture of a distributed ledger:
                    <br />
                    <img class="img-responsive" src="~/Content/img/blockchain shared diagram.png" alt="Blockchain Shared and Trusted Diagram" />
                    <br />
                    <br />
                    In summary:
                </h2>

                <ul class="list-group">
                    <li class="list-group-item">A decentralized ledger insures that no one single party controls the ledger content or accuracy. There is also no single point of failure</li>
                    <li class="list-group-item">Since the ledger is publicly visible, increased trust is built even when the participants are not known to each other.</li>
                    <li class="list-group-item">New block are validated before being added to the chain and each participant receives a copy of these changes.</li>
                    <li class="list-group-item">The data is hashed so as to insure that the data has not been tampered with.</li>
                </ul>

            </div>
        </div>
    </div>

    <div class="box">
        <div class="col-lg-12">
            <h1 class="intro-text text-center">
                <strong>Want to see a blockchain example ?</strong>
            </h1>
            <br />
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/WiRFuHXHBhk" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <h1 class="intro-text text-center">
                    <strong>Public Blockchain ? Private Blockchain ? </strong>
                </h1>
                <h2 class="intro-text text-center">
                    As with all things technical, there is never a single, simple answer to a problem. Blockchain is no exception. Although the general "public" approach to blockchain solves many trust problems between
                    two parties that are not known to each other, there are also a number of business scenarios where the immutability and data security of the transactions are critical but where the various participants want to
                    restrict who can "see, modify,and participate" in the blockchain. Private block chains provide access control list type functionality which can be applied to individual uses or groups. Already having a group of
                    trusted participants also has the benefit of faster transactions time since you no longer need to get a shared consensus before adding blocks.
                    <br />
                    <br />
                    In summary:
                    <br />
                    <img class="img-responsive" src="~/Content/img/public vs private blockchain comparison.png" alt="Public vs private blockchain comparison" />
                    <br />
                </h2>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <h1 class="intro-text text-center">
                    <strong>Does blockchain even make sense ? </strong>
                </h1>
                <h2 class="intro-text text-center">
                    Blockchain is not the proverbial "silver bullet" to everything but it does solve a number of real world problems. Below are a couple of previously published decision models that may help you decide
                    what the right approach is for you and your organization. We encourage you to contact us directly at <a href="mailto:consultants@bCloudPartners.com" style="color:#248dcc">consultants@bCloudPartners.com</a> so we can discuss your exact needs and help you with your blockchain project.
                    <br />
                    <br />
                    The blockchain decision model used by the United States Department of Homeland Security:
                    <img class="img-responsive" src="~/Content/img/When Not to Use Blockchain.png" alt="The DHS blockchain decision model" />
                    <br />
                    <br />
                    Or the Suichies decision Model:
                    <br />
                    <img class="img-responsive" src="~/Content/img/Suiches Decision Model.png" alt="The Suichies blockchain decision model" />
                    <br />
                </h2>

            </div>
        </div>
    </div>


</div>





<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-103842110-1', 'auto');
    ga('send', 'pageview');

</script>
        

<!-- /.container -->
