@{

    ViewBag.MetaDescription = "Here are some of the local and online technical communities that we participate in.";
    ViewBag.Title = "bCloudPartners - Our particiaption in the technical community.";


}

 

<div class="container">
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                 <h2 class="intro-text text-center">
                    We believe that actively participating in the technical community is important. Not only do we get to share ideas but we learn something as well. Here is where we are active: 
              
                </h2>
             </div>
            <div class="col-lg-12 text-center">
                <p>
                    <strong><a href=" https://www.xing.com/communities/groups/kaiserslautern-net-users-group-1044478" style="color:#248dcc">Our XING .Net users group</a></strong>
                </p>

            </div>
        </div>
    </div>

   
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-103842110-1', 'auto');
  ga('send', 'pageview');

</script>
<!-- /.container -->