@{
    ViewBag.Title = "Home Page";
}
 

<div class="container">
    <div class="row">
        <div class="box">
            <div class="col-lg-12 text-center">
                <div id="carousel-example-generic" class="carousel slide">
                    <!-- Indicators -->
                    <ol class="carousel-indicators hidden-xs">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="5"></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img class="img-responsive img-full" src="~/Content/img/Top3Logos.png" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive img-full" src="~/Content/img/CCAdvantages.png" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive img-full" src="~/Content/img/DevicesCloud.png" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive img-full" src="~/Content/img/CloudTypes.png" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive img-full" src="~/Content/img/CloudPyramid.png" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive img-full" src="~/Content/img/CCTrends.png" alt="">
                        </div>

                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="icon-prev"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="icon-next"></span>
                    </a>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    <strong>Our mission Statement</strong>
                    <hr>
                    <p>Be your preferred, unbiased cloud technology advisor. We will achieve this through collaboration, education, consulting, and services.</p>
                </h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    <strong>Why Us ?</strong>
                </h2>
                <hr>
                <p>
                    There is not a day that goes by where you do not hear the term "Cloud Computing". You are swamped with advertisements, misinformation, and promises of incredible savings.
                    You have little or no "real world implementation experience" and are trying to sort out fact from fiction. In the end you need answers to the same basic questions:
                    <ol>
                        <li>Does the Cloud make sense for my company ? </li>
                        <li>How and what should I move to the Cloud? </li>
                        <li>Which Cloud provider should I use ? Google ? Amazon ? Microsoft ? Other ?</li>
                        <li>How much will I save ? </li>
                        <li>How much will this cost ? </li>
                        <li>How do I migrate my current applications and data ? </li>
                    </ol>

                <p>
                    bCloudPartners is an independent and unbiased cloud technology partner and advisor. We receive no revenue or incentives by recommending a cloud technology platform, we do not sell hosting services, and we sell no
                    shrink wrapped product. We are simply a team of very seasoned technology professionals who have extensive cloud experience, and knows what works and what does not work. bCloudParters
                    can not only help with your cloud decision making, but can also provide support and development staff. bCloudPartners can help as little or as much as you need us to.
                </p>

            </div>

            <p>
                Contact us today and lets start answering your questions, discussing your needs and ideas.

                Email:
                <strong><a href="mailto:consultants@bCloudPartners.com">consultants@bCloudPartners.com</a></strong>

            </p>

        </div>
    </div>
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    <strong>Our Services</strong>
                </h2>
                <hr>
                <p>
                    Here is a general list of our services:
                </p>
                <ol>
                    <li>Review your current and long term business needs and advise <strong>IF</strong> cloud technology makes sense for your organization.</li>
                    <li>Advise on a comprehensive cloud implementation plan.</li>
                    <li>Provide technical staff to facilitate application re-architecture and conversion.</li>
                    <li>Provide technical staff for ongoing support and maintenance.</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->

<!-- jQuery -->
 
<script src="~/Scripts/jquery-1.10.2.js"></script>
<!-- Bootstrap Core JavaScript -->
 
<script src="~/Scripts/bootstrap.min.js"></script>

<!-- Script to Activate the Carousel -->
<script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
</script>
