 @{
    ViewBag.Title = "bCloudPartners - Your independent and unbiased Cloud Technology Partner";
    ViewBag.MetaDescription = "We are a global company helping organizations understand how they can leverage cloud technology to meet thier business needs.Our focus is on advisement, education, and application re-platforming services in order to make your transformation to the cloud as seamless as possible.  ";
    ViewBag.MetaKeywords = "Germany, United States, cloud, AWS, Azure, Goolge cloud platform, Cloud Development, partner";
    ViewBag.CanonicalURL = "http://www.bCloudPartners.com";
}
 
<div class="container">
    <div class="row">
        <div class="box">
            <div class="col-lg-12 text-center">
                <div id="carousel-example-generic" class="carousel slide">
                    <!-- Indicators -->
                    <ol class="carousel-indicators hidden-xs">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                        
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img class="img-responsive img-full" src="~/Content/img/Top3Logos.png" alt="The 3 main Cloud Platforms we support">
                        </div>
                        <div class="item">
                            <img class="img-responsive img-full" src="~/Content/img/CCAdvantages.png" alt="Advantages of cloud computing">
                        </div>
                        <div class="item">
                            <img class="img-responsive img-full" src="~/Content/img/CloudTypes.png" alt="The three main cloud types">
                        </div>
                        <div class="item">
                            <img class="img-responsive img-full" src="~/Content/img/CCTrends.png" alt="Cloud adaption rate">
                        </div>

                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="icon-prev"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="icon-next"></span>
                    </a>
                </div>
              
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    <strong>Our mission Statement</strong>
                    <hr>
                    <p>Be your preferred cloud technology partner and advisor. We will achieve this through collaboration, education, consulting, and services.</p>
                </h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    <strong>Why Us ?</strong>
                </h2>
                <hr>
                <p>
                    There is not a day that goes by where you do not hear the term "Cloud Computing". You are swamped with advertisements, misinformation, and promises of incredible savings.
                    You have little or no "real world implementation experience" and are trying to sort out fact from fiction. In the end you need answers to some basic questions:
                   
                    <hr>
                    <ol class="intro-text" style="color:#248dcc">
                        <li>Does the Cloud make sense for my company ? </li>
                        <li>How and what should I move to the Cloud? </li>
                        <li>Which Cloud provider should I use ? Google ? Amazon ? Microsoft ? Other ?</li>
                        <li>How much will I save ? </li>
                        <li>How much will this cost ? </li>
                        <li>How do I migrate my current applications and data ? </li>
                    </ol>
                    
                    <hr>
                <p>
                    bCloudPartners is an independent and unbiased cloud technology partner and advisor. We receive no revenue or incentives by recommending a cloud technology platform, we do not sell hosting services, and we sell no
                    shrink wrapped product. We are simply a team of very seasoned technology professionals who have extensive cloud experience, and know what works and what does not work. bCloudParters
                    can not only help with your cloud decision making, but can also provide support and development staff. bCloudPartners can help as little or as much as you need us to.
                </p>

            </div>
            <hr>
            <hr>
            <p>
                Contact us today and lets start answering your questions, discussing your needs and ideas.

                Email:
                <strong><a href="mailto:consultants@bCloudPartners.com" style="color:#248dcc">consultants@bCloudPartners.com</a></strong>

            </p>

        </div>
    </div>
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    <strong>Our Services</strong>
                </h2>
                <hr>
                <p>
                    Review your current and long term business needs and advise <strong>IF</strong> cloud technology makes sense for your organization.
                    <br />
                    Advise on a comprehensive cloud implementation plan.</li>
                    <br />
                    Provide technical staff to facilitate application re-architecture and conversion.
                    <br />
                    Provide technical staff for ongoing support and maintenance.
                    <br />

                </p>

            </div>
        </div>
    </div>
</div>
<!-- /.container -->

<!-- jQuery -->
 
<script src="~/Scripts/jquery-1.10.2.js"></script>
<!-- Bootstrap Core JavaScript -->
 
<script src="~/Scripts/bootstrap.min.js"></script>

<!-- Script to Activate the Carousel -->
<script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
</script>
